@import "mixins";

header {
  padding: 42px 80px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .fashion {
    display: block;
    width: 126px;

    a {
      font-family: PT Serif, serif;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 33px;
      letter-spacing: 2.5px;
      color: #171717;
      text-decoration: none;
    }

  }

  .home {
    display: block;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 0;
      padding: 0;
      width: 369px;

      li {
        display: inline-block;
        list-style-type: none;
        font-family: PT Serif, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;

        a {
          display: block;
          text-decoration: none;
          color: #171717;

          &:hover {
            color: #C9A96E;
            text-decoration: none;
          }
        }

      }
    }

  }

  @include mobileScreen() {
    justify-content: center;

    .home{
      display: none;
    }
  }
}
